<!DOCTYPE html>
<html lang="ru" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Экскурсии по Беларуси Минск</title>
    <meta name="viewport" content="width=1200,user-scalable=yes">

    <link rel="shortcut icon" type="image/ico" href="https://ekskursii.by/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/styles/custom.css" type="text/css">
    <link rel="stylesheet" href="/styles/balloon.css" type="text/css">

    <script src="/scripts/jquerymin.js"></script>
    <link rel="stylesheet" href="/styles/jquery-ui.css">

    <script src="/scripts/jquery-ui.js"></script>

    <script src="/scripts/contact_form.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="/styles/jquery.fancybox.css" type="text/css" media="screen">
    <script src="/scripts/jquery.fancybox.pack.js"></script>

    <script src="/scripts/mainScript.js"></script>
    <script src="/scripts/cookie.js"></script>
    <script src="/scripts/core.js"></script>
    <link rel="stylesheet" href="/styles/core.css">
</head>


<body>

    <!-- HEADER/ -->
    <load src="layout/header.html" />
    <!-- /HEADER -->

    <main class="main_content">

        <!-- SEARCH/ -->
        <load src="layout/search.html" />
        <!-- /SEARCH -->

        <ul class="bread_crumbs">
            <li><a href="https://ekskursii.by/">Главная</a></li>
            <li>→</li>
            <li><a href="https://ekskursii.by/?art">Статьи</a></li>
        </ul>

        <div class="wrap_artList container">