<footer class="main_footer">
    <div class="box_bottom_nav">
        <ul class="bottom_nav container">
            <li class="nav_item">
                <a href="https://sanatorii.by/" target="_blank"
                    title="Перейти на интернет-портал Sanatorii.by Санатории Беларуси"><img alt=""
                        src="/images/sanatorii.gif">
                    Санатории Беларуси</a>
            </li>
            <li class="nav_item">
                <a href="https://beltur.by/" title="Перейти на Интернет-портал Beltur.by Отдых в Беларуси"><img alt=""
                        src="/images/beltur.gif"> Базы
                    отдыха и гостиницы Беларуси</a>
            </li>
            <li class="nav_item">
                <a href="https://belhotel.by/" target="_blank"
                    title="Перейти на Интернет-портал Belhotel.by Гостиницы Беларуси"><img alt=""
                        src="/images/belhotel.gif">
                    Гостиницы Беларуси</a>
            </li>
            <li class="nav_item">
                <a href="https://beltransfer.by/" target="_blank"
                    title="Перейти на Интернет-портал Beltransfer.by Трансфер по Беларуси"><img alt=""
                        src="/images/beltransfer.gif">
                    Трансфер по Беларуси</a>
            </li>
        </ul>
    </div>
    <div class="bottom_footer container">
        <div class="left_column">
            <p>
                <b>
                    <a href="https://att.by/" target="_blank" class="wgray">©
                        Частное научно-производственное унитарное предприятие
                        "Автоматизированные технологии туризма"</a>
                </b>
            </p>
            <p><b>Адрес предприятия: </b> 220007, Республика Беларусь, г.Минск,
                ул.Суражская, 10, оф. 21 (5 этаж)</p>
            <p><b>Время работы: </b>пн-пт 09.00-18.00, обеденный перерыв 13.00-14.00</p>
            <p class="tel"><b>Многоканальный телефон: <a href="tel:+375173944913">
                        +37517-394-49-13</a></b></p>
            <p>
                <b class="mobileNumb tel">Моб. телефон:
                    <span><a href="tel:+375297566665">+37529-756-66-65</a></span>
                </b>
            </p>
            <!--<p class="tel">
            <b>Факс: <a href="tel:+375173945909">+37517-394-59-09</a></b>
            (работает круглосуточно в автоматическом режиме)
        </p>-->
            <p class="emailAside">
                <b>E-mail: </b><a href="https://ekskursii.by/?contact">
                    отправить сообщение. </a>
            </p>

            <div class="socAside">
                <p>Подписаться на
                    <a href="https://www.instagram.com/ekskursii.by/" target="_blank"
                        title="Фотографии в Instagram"><img src="/images/instagram_logo.png"> Инстаграм </a>
                    <a class="menu" href="https://www.youtube.com/channel/UCRu8vLz_aIb12WLOEZObRHA" target="_blank"
                        title="Канал на Youtube">
                        <img src="/images/youtube_logo.png"> YouTube-канал</a>
                </p>
            </div>
            <div class="flex-row">
                <div class="dataAside">
                    <p>Портал обо всех онлайн-сервисах для комфортной жизни - <a href="https://belarus-online.by/"
                            target="_blank" title="Онлайн-сервисы для комфортной жизни">Беларусь-онлайн</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="right_column">
            <p>
                <a href="https://att.by/?nagrady" target="_blank">Победитель
                    конкурса Лучший предприниматель в сфере туризма Республики
                    Беларусь</a>
            </p>
            <p>Свидетельство о регистрации №1808 от 9.08.2007 выдано Минским
                горисполкомом. <b> УНП: </b>190855081 </p>
            <p>Информация, размещенная на интернет-портале <a href="https://ekskursii.by/" target="_blank"
                    title="Интернет-портал Экскурсии по Беларуси">Ekskursii.by</a>, не является
                предложением публичной оферты.<br>
                Все цены для граждан РБ на портале приведены в белорусских
                рублях.<br>
                Для нерезидентов РБ цены отображены в соответствующей валюте по
                установленному курсу.<br>
                На территории Республики Беларусь все расчеты осуществляются в
                белорусских рублях.
            </p>
            <p><a href="https://ekskursii.by/?Politika_konfidencialinosti" target="_blank">Политика
                    конфиденциальности</a></p>
            <p>
                <a class="button border_blue details" href="https://broni.by/" target="_blank"><b>Вход для
                        партнёров</b></a>
                <a class="button border_blue details" href="https://broni.by/guide" target="_blank"><b>Вход для
                        гидов</b></a>
                <a href="https://att.by/?agentstvam" target="_blank">Регистрация нового агента </a>

            </p>
            <div class="payment">
                <img src="/images/mastercardx84s.png" alt="">
                <img src="/images/mastercardx84.png" alt="">
                <img src="/images/visax84s.png" alt="">
                <img src="/images/visax84.png" alt="">
                <a rel="nofollow" target="_blank" href="https://bepaid.by/">
                    <img src="/images/bepaid.png" alt=""></a>
                <img src="/images/eripx84.png" alt="">
                <p><a href="https://ekskursii.by/?Instrukciya_po_oplate_BePaid" target="_blank">Инструкция по оплате
                        bePaid</a></p>

            </div>
            <div class="footerBottom">
                <a href="https://att.by/">© ATT.by 2007-2024</a>
                <a title="Программная поддержка и разработка" href="https://byport.by/">
                    © Byport.by</a>
            </div>
        </div>
    </div>
    <div><a id="backbutton" class="backbutton" style="display: none;"></a></div>
</footer>