<header class="main_header">

    <div class="top_header">
        <div class="top_header_row container">
            <div class="left_column">
                <a class="mobile_logo" href="https://ekskursii.by/">
                    <img alt="ekskursii.by" src="/images/logo_ru.gif" width="130"></a>
                <ul class="top_menu_list">
                    <li class="top_menu_item">
                        <a href="https://ekskursii.by/?O_predpriyatii">О компании</a>
                    </li>
                    <li class="top_menu_item">
                        <a target="_blank" href="https://att.by/?agentstvam">Агентствам</a>
                    </li>
                    <li class="top_menu_item">
                        <a href="https://ekskursii.by/?Kontakty">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="right_column">
                <div class="pda"><a href="https://pda.ekskursii.by/?art">PDA</a></div>
                <div class="box_currency">
                    <form method="post">
                        <select title="Выбрать валюту" class="set_currency" id="setcountry" name="setcountry"
                            onchange="this.form.submit();">
                            <option title="Показать цены в Белорусских рублях" value="BY">BYN</option>
                            <option title="Показать цены в Российских рублях" value="RU">RUB</option>
                            <option title="Показать цены в Евро" value="ANY">EUR</option>
                        </select>
                    </form>

                </div>
                <ul id="setlang" class="lang_list">
                    <li class="lang_item"><a href="https://ekskursii.by/by/?art">Бел</a></li>
                    <li class="lang_item"><a href="https://ekskursii.by/en/?art">Eng</a></li>
                    <li class="lang_item"><a class="chosen_lang" href="https://ekskursii.by/?art">Рус</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="center_header container">
        <div class="left_column">
            <ul class="phone_list">
                <li class="phone_item"><a href="tel:+375173944913">+375 17-394-49-13</a></li>
                <li class="phone_item"><a href="tel:+375297566665">+375 29-756-66-65</a></li>
            </ul>
            <ul class="blockIcon_header">
                <li class="icon_item viber_item">
                    <a class="bg_icon" href="viber://chat?number=375297566665"></a>
                </li>
                <li class="icon_item whatsapp_item">
                    <a class="bg_icon"
                        href="whatsapp://send?phone=+375297566665&amp;text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C!"></a>
                </li>
                <li class="icon_item telegram_item">
                    <a class="bg_icon" href="https://telegram.me/ekskursii" target="blank;"
                        onclick="openWindow (this.href); return false;"></a>
                </li>
            </ul>
        </div>
        <div class="center_column">
            <a class="logo_box" href="https://ekskursii.by/">
                <img alt="ekskursii.by" src="/images/logo_ru.gif" width="300"></a>
            <p class="">Экскурсии по Беларуси – Белорусский экскурсионный портал</p>
        </div>
        <div class="right_column">
            <a class="button check_blue check_order" href="https://broni.ekskursii.by/">Проверить заявку</a>
            <div>

                <button type="button" id="btn_quick_order" class="button green" data-lt="quickOrder">
                    <img src="/images/help.png" width="14" alt="" style="vertical-align: middle;"> Быстрая
                    заявка</button>
            </div>
            <div class="box_cabinet">
            </div>
        </div>
    </div>
</header>
<div class="header-bottom">
    <nav class="bottom_header">
        <div class="box_top_nav" id="top_nav">
            <ul class="top_nav bottom_nav container">
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Grafik_sbornyh_ekskursii"
                        title="Подробный график групповых сборных экскурсий и туров по Беларуси">График сборных
                        экскурсий</a>
                </li>

                <li class="nav_item">
                    <a href="https://ekskursii.by/?Individualinye_ekskursii"
                        title="Подробная информация об организации индивидуальных экскурсий и туров по Беларуси">Индивидуальные
                        экскурсии</a>
                </li>

                <li class="nav_item">
                    <a href="https://ekskursii.by/?Ekskursii_dlya_shkolinikov_na_1_den"
                        title="Посмотреть экскурсии для школьников на 1 день">Экскурсии для школьников</a>
                </li>
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Vse_ekskursii_belarusi=32655_Ekskursii_po_Minsku"
                        title="Посмотреть все экскурсии по Минску - столице Беларуси">Экскурсии по
                        Минску</a>
                </li>
                <li class="nav_item">
                    <a href="https://ekskursii.by/?calendar&amp;sort=name#Vse_ekskursii_belarusi"
                        title="Посмотреть перечень всех экскурсий по Беларуси">Все экскурсии</a>
                </li>
            </ul>
        </div>
        <div class="box_bottom_nav">
            <ul class="bottom_nav container">
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Oplata_ekskursij_po_Belarusi"
                        title="Посмотреть правила заказа и оплаты экскурсий и туров на интернет-портале Ekskursii.by">Как
                        заказать и оплатить</a>
                </li>
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Skidki_na_ekskursii_i_usloviya_vozvrata"
                        title="Информация о скидках на экскурсии">Скидки</a>
                </li>

                <li class="">
                </li>
                <li class="nav_item"><img src="/images/pikto_kostel_red.png" height="16"> <a
                        href="https://ekskursii.by/?Evening_Minsk" title="Экскурсия Минск вечерний">
                        <font color="#FF7200"><strong>Экскурсия Минск вечерний</strong></font>
                    </a></li>

                <li class="nav_item">
                    <a href="https://ekskursii.by/?Dostoprimechatelnosti_Belarusi"
                        title="Посмотреть достопримечательности Беларуси">Достопримечательности</a>
                </li>
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Muzei_Belarusi" title="Посмотреть музеи Беларуси">Музеи</a>
                </li>
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Goroda_Belarusi"
                        title="Посмотреть описания городов Беларуси">Города</a>
                </li>
                <li class="nav_item">
                    <a href="https://ekskursii.by/?Legendy" title="Легенды и предания Беларуси">Легенды</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="box_bottom_nav">
        <ul class="bottom_nav container">
            <li class="nav_item">
                <a href="https://sanatorii.by/" target="_blank"
                    title="Перейти на интернет-портал Sanatorii.by Санатории Беларуси">
                    Санатории Беларуси</a>
            </li>
            <li class="nav_item">
                <a href="https://beltur.by/" title="Перейти на Интернет-портал Beltur.by Отдых в Беларуси">Базы
                    отдыха и гостиницы Беларуси</a>
            </li>
            <li class="nav_item">
                <a href="https://beltransfer.by/" target="_blank"
                    title="Перейти на Интернет-портал Beltransfer.by Трансфер по Беларуси">
                    Трансфер по Беларуси</a>
            </li>
        </ul>
    </div>
</div>